# dependencies
node_modules
result

# outputs
out
dist
*.tgz
target

# logs
logs
*.log

# dotenv
.env
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# rust/wasm build metadata
.wasm-hash

# downloaded font archives
*.txz
*.xz

# IDE / OS
.idea
.DS_Store

# direnv
.direnv/
